@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navbar starts here */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}
.nav-head{
    display: flex;
}
.header-img{
    width: 62px;
    height: 62px;
    padding-top: 20px;
}
.nav-heading{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
    padding-bottom: 12px;
}
.nav-items li{
    list-style: none;
    margin-right: 15px;
}
.nav-links a{
    text-decoration: none;
    
}
.nav-links{
    display: flex;
}
.nav-item1 a{
    font-size: 1.4rem;
    font-weight: bold;
    color: rgba(254, 163, 1, 1);
}
.nav-item2 a{
    font-size: 1.4rem;
    font-weight: 500;
    color: skyblue;
}
.nav-item3 a{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(5, 212, 223, 1);
}
.nav-item4 a{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(93, 88, 239, 1);
}
.btn-primary{
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    background-color: rgba(254, 163, 1, 1);
}
.nav-icon{
    display: none;
}

/* responsive for small device style */

@media screen and (max-width: 576px) {
    .hide-nav{
        display: none;
    }
    .nav-icon{
        display: block;
       
    }
   
    
}