@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navbar starts here */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
   
}
.nav-head{
    display: flex;
}
.header-img{
    width: 62px;
    height: 62px;
    padding-top: 20px;
}
.nav-heading{
    font-size: 2rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
    padding-bottom: 12px;
}
.nav-items li{
    list-style: none;
    margin-right: 15px;
}
.nav-links a{
    text-decoration: none;
    
}
.nav-links{
    display: flex;
}
.nav-item1 a{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(254, 163, 1, 1);
}
.nav-item2 a{
    font-size: 1.3rem;
    font-weight: 500;
    color: skyblue;
}
.nav-item3 a{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(5, 212, 223, 1);
}
.nav-item4 a{
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(93, 88, 239, 1);
}
.btn-primary{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    background-color: rgba(254, 163, 1, 1);
}
.nav-icon{
    display: none;
}


/* enrollment section styles starts here */

.enrollment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 18px;
}
/* .enrollment-content{
    margin-right: 10px;
} */
.enroll-head{
    font-size: 3.5rem;
    font-weight: bold;
}
.span1{
    color: rgba(254, 163, 1, 1);
}
.span2{
    color: rgba(17, 17, 17, 1);
}
.span3{
    color: rgba(1, 172, 253, 1);
}
.enroll-descrip{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    
}
.enroll-btn{
    font-size: 1.3rem;
    font-wpadding: ;eight: bold;
    border: ;
    border-radius: ;
    background-color: ;
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 12px;
    background-color: black;
    margin-top: 10px;
}
.enroll-img{
    width: 470px;
    height: 570px;
    object-fit: cover;
    
}

/* card container section starts here */

.curr-container{
    background-image: url(../assets/bg.png);
    width: 1160px;
    margin: 0 auto;
}

.curr-head{
    font-size: 3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 80px;
   
}

.card-container{
    display: flex;
    /* width: 1160px;
    margin: 0 auto; */
    border-radius: 20px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}
.card{
    width: 360px;
    height: 470px;
    text-align: center;
    border-radius: 20px;
    padding: 40px;

}
.back-lin-a{
    background: linear-gradient(rgb(222, 251, 255), rgba(255, 255, 255, 1));
}
.back-lin-b{
    background: linear-gradient(rgb(255, 250, 220), rgba(255, 255, 255, 1));
}
.back-lin-c{
    background: linear-gradient(rgb(247, 232, 255), rgba(255, 255, 255, 1));
}

.card-heading{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(32, 32, 32, 1);
}
.card-descrip{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}
.card-btn{
    font-size: 1rem;
    font-weight: bold;
    padding: 4px 23px 2px 1px;
    border: none;
    background-color: white;
}
.sky{
    color: rgba(100, 200, 255, 1);
}
.yellow{
    color: rgba(240, 170, 0, 1);
}
.violet{
    color: rgba(135, 0, 255, 1);
}

.arrow-container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.arr-pic1{
    margin-right: 5px;
    cursor: pointer;
}
.arr-pic1:hover{
    background-color: skyblue;
    border-radius: 50px;
}
.arr-pic2{
    margin-left: 5px;
    cursor: pointer;
}
.arr-pic2:hover{
    background-color: skyblue;
    border-radius: 50px;
}

    /* story sections starts here  */
 
    #story-sec{
        background: linear-gradient(rgba(255, 255, 255, 1), rgb(238, 216, 179)), url(../assets/bg.png); 
    }
    #box-4, #box-5{
        display: none;
    }

    .story-box-head{
        max-width: 1160px;
        margin: 0 auto; 
        font-size: 3rem; 
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        margin-top: 60px;
        margin-bottom: 80px;
    }
    .story-container{
        max-width: 1160px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    #box-1{
        grid-row: span 2;
        width: 540px;
        height: 640px;
    }
    .story-img{
        border-radius: 16px 16px 0 0;
        width: 540px;
        height: 340px;
    }
    .story-imgs{
        width: 290px;
        height: 180px;
        border-radius: 16px 16px 0 0;
    }
    .story-descrips{
        height: 290px;
        padding-left: 40px;
        background-color: white;
        border-radius: 0 0 16px 16px;
    }
    .story-descrip{
        height: 120px;
        padding-left: 30px;
        background-color: white;
        border-radius: 0 0 16px 16px;
    }

    .story-btn{
        font-size: 1rem;
        font-weight: 500;
        color: white;
        padding: 10px 30px;
        border: none;
        border-radius: 40px;
        background-color: rgba(60, 216, 232, 1);
        position: relative;
        top: -20px;
    }
    .story-btns{
        font-size: 1rem;
        font-weight: 500;
        color: white;
        padding: 8px 25px;
        border: none;
        border-radius: 30px;
        background-color: rgba(149, 178, 38, 1);
        position: relative;
        top: -20px;
    }
    .story-btnss{
        font-size: 1rem;
        font-weight: 500;
        color: white;
        padding: 8px 25px;
        border: none;
        border-radius: 30px;
        background-color: rgba(93, 88, 240, 1);
        position: relative;
        top: -20px;
    }
    .end-btn{
        text-align: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .story-end-btn{
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        padding: 15px 70px;
        border: none;
        border-radius: 12px;
        background-color: black;
    }

    .box-1-h{
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
    }
    .box-h{
        font-size: 1rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 40px;
    }
    .box-1-p{
        font-size: 1rem;
        font-weight: 500;
        color: rgba(102, 102, 102, 1);
    }

    /*   footer styles starts here */

    .footer-end{
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        background-color: rgba(1, 172, 253, 1);
    }
    .foot-c-1{
        margin-top: 70px;
    }
    .foot-c-11{
        display: flex;
        margin-bottom: 80px;
    }
    .foot-c-11, img{
        width: 90px;
        height: 90px;
        margin-top: 30px;
    }
    .foot-c-1-h{
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
    }
    .foot-c-1-p{
        font-size: 1.3rem;
        font-weight: 400;
        color: white;
    }
    .foot-c-2{
        margin-top: 110px;
    }
    .foot-c-2-h{
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        margin-left: 40px;
    }
    .foot-c-2 li{
        list-style: none;
    }
    .foot-c-2 li a{
        text-decoration: none;
    }
    .foot-nav{
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
    }
    #nav1{
        margin-bottom: 20px;
    }
    #nav2{
        margin-bottom: 20px;
    }#nav3{
        margin-bottom: 20px;
    }#nav4{
        margin-bottom: 20px;
    }
    .foot-c-3-h{
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
    }
    .foot-c-3 img{
        width: 40px;
        height: 40px;
    }


                 /* responsive for small device style */

@media screen and (max-width: 576px) {
    .hide-nav{
        display: none;
    }
    .nav-heading{
        display: none;
    }
    .header-img{
        padding-bottom: 30px;
    }
    .nav-icon{
        display: block;  
    }
    .navbar{
        border-bottom: 1px solid sandybrown;
        width: 100%;
    }
       /* enrollment sections here */

    .enrollment{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .enroll-head{
        font-size: 2rem;
        font-weight: bold
    }
    .enroll-descrip{
        font-size: 1rem;
        font-weight: 500;
    }
    .enroll-btn{
        margin-bottom: 80px;
    }
    .enroll-img{
        width: 300px;
        height: 400px;
        object-fit: cover;
    }
       /* curriculum  section here */

       .curr-container{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
       .curr-head{
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0 auto;
        padding-bottom: 30px;
       }
       .card-container{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
       .card{
        width: 300px;
        height: 320px;
       }
       .arrow-container{
        display: none;
       }

       /* story box styles here */

        .story-section{
            width: 100%;
        }
       .story-box-head{
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0 auto;
        padding-bottom: 30px;
       }
       #box-1{
        display: none;
       }
       #box-4, #box-5{
        display: block;
       }
       .story-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin: 0 auto;
       }


       .story-boxs{
        width: 150px;
        height: 200px;
        gap: 10px;
       }

       .story-imgs{
        width: 150px;
        height: 90px;
        border-radius: 10px 10px 0 0;
       }
       .story-descrip{
        height: 20px;
        padding-left: 10px;
        background-color: white;
        border-radius: 0 0 10px 10px;
    }
    .story-btnss{
        font-size: 0.5rem;
        font-weight: 500;
        color: white;
        padding: 5px 30px;
        border: none;
        border-radius: 20px;
        background-color: rgba(93, 88, 240, 1);
        position: relative;
        top: -20px;
    }
    .story-btns{
        font-size: 0.5rem;
        font-weight: 500;
        color: white;
        padding: 5px 30px;
        border: none;
        border-radius: 20px;
        background-color: rgba(149, 178, 38, 1);
        position: relative;
        top: -20px;
    }
    .box-h{
        font-size: 0.5rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 10px;
    }.story-descrip{
        height: 70px;
        padding-left: 10px;
        background-color: white;
        border-radius: 0 0 10px 10px;
    }.story-end-btn{
        font-size: 1rem;
        font-weight: bold;
        color: white;
        padding: 10px 60px;
        border: none;
        border-radius: 12px;
        background-color: black;
    }
    .end-btn{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    /* footer styles here */

    .footer-end{
        flex-direction: column;
        height: 1000px;
        text-align: start;
    }
    .foot-c-1{
        margin-top: 10px;
        margin-left: 10px;
    }
    .foot-c-1-p{
        margin-left: 10px;
    }
    .foot-c-2{
        margin-top: 10px;
    }
    .foot-c-3{
        margin-top: 10px;
    }
    
   
    
}